.home {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

.cardHeader {
	padding: 16px;
}

.cardBody {
	padding: 16px
}

.header {
	height: 150px;
	width: 100vw;
	display: flex;
	padding: 30px 20px;
	background: #5D8CAE;
	background: linear-gradient(var(--mdc-theme-primary) 0%, var(--mdc-theme-complementary-color) 150%);
	margin-bottom: 20px;
}

.header h1 {
	margin: auto 20px;
	color: #FFF;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}