@media screen and (min-width: 769px) {
	.mobile {
		display: none;
	}
}

.mobile .start {
	min-width: calc(100% - 110px);
}

.mobile .end {
	min-width: 110px;
}

.mobile .start *, .mobile .end * {
	max-width: 100%;
}

.mobile .songInfo {
	font-size: 0.8rem;
}

.mobile .songInfo span {
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100vw - 110px);
}

.tabs {
	position: fixed !important;
	z-index: 11 !important;
	bottom: 0 !important;
	width: 100vw !important;
	max-width: 100vw !important;
	overflow: hidden !important;
	background: var(--mdc-theme-tabs-bg) !important;
	padding: 0 !important;
	display: flex !important;
	align-items: center !important;
	height: auto !important;
	color: var(--mdc-sidebar-footer-fg) !important;
}

.tabs > a {
	width: 100%;
	background: var(--mdc-theme-tabs-bg) !important;
	padding: 8px 5px 5px !important;
	display: flex !important;
	justify-content: center !important;
	align-content: center !important;
	flex-direction: column !important;
	line-height: 1.3rem !important;
	font-size: 0.7rem !important;
	color: var(--mdc-sidebar-footer-fg) !important;
}

.tabs > a i {
	color: var(--mdc-sidebar-footer-fg) !important;
	font-size: 1.3rem !important;
}

.footer {
	position: fixed;
	z-index: 10;
	bottom: 54px;
	width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	background: var(--mdc-sidebar-footer-bg);
	color: var(--mdc-sidebar-footer-fg);
	padding: 5px;
	display: flex;
	align-items: center;
}

.footer .songInfo p {
	margin: 0 0 0 10px;
}

.footer .songInfo p span {
	display: block;
	font-size: 0.8rem;
	color: var(--mdc-sidebar-footer-fg);
	font-weight: 600;
}

.footer .button {
	width: 48px;
	height: 48px;
	color: var(--mdc-sidebar-footer-fg);
	display: flex;
}

.footer .button i {
	color: var(--mdc-sidebar-footer-fg);
}

.footer .end {
	justify-content: flex-end;
	padding: 0 15px;
}

.footer .songInfo a {
	color: var(--mdc-sidebar-footer-fg);
	text-decoration: none;
	margin-bottom: 10px;
	transition: color 0.15s ease-in-out;
}

.footer .songInfo p span, .footer .songInfo a {
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
}

.footer .songInfo a.artist {
	color: var(--mdc-theme-primary-font--darker);
}

.breaker {
	display: block;
	content: " ";
	position: absolute;
	top: 0;
	background: linear-gradient(to right, var(--mdc-theme-primary) -40%, var(--mdc-theme-complementary-color) 170%) !important;
	height: 3px;
	width: 100%;
	left: 0;
	border-radius: 50px;
}