.profile {
	min-height: 100%;
	width: 100%;
}

.header img {
	max-width: 64px;
	height: 64px;
	margin-right: 10px;
	border-radius: 100%;
}

.profile_contents {
	padding: 0 20px 20px;
}

.profile_contents h1.mainHeader {
	font-size: 1.3rem;
}

.profile_contents [class="mdc-card"] {
	padding: 20px;
}

.profile_contents [class="mdc-card"] h2 {
	margin-top: 0;
	font-size: 0.9rem !important;
}

.smol {
	font-size: 1rem;
	line-height: 1rem;
	display: block;
}

.button {
	position: absolute;
	background: rgba(0, 0, 0, 0.2) !important;
	color: #ffffff !important;
}

@media screen and (min-width: 500px) {
	.button {
		right: 28px;
	}
}

@media screen and (max-width: 500px) {
	.button {
		right: 10px;
		bottom: 10px;
	}
}

@media screen and (min-width: 500px) {
	.username_custom {
		max-width: calc(100% - 300px);
	}
}