.profile {
	min-height: 100%;
	width: 100%;
}

.header {
	background: #5D8CAE;
	height: 150px;
	width: 100vw;
	display: flex;
	padding: 30px 20px;
}

.header img {
	max-width: 64px;
	height: 64px;
	margin-right: 10px;
	border-radius: 100%;
}

.header h1 {
	margin: 0;
	color: #FFF;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.profile_contents {
	padding: 20px;
}

.profile_contents [class="mdc-card"] {
	padding: 20px;
}

.profile_contents [class="mdc-card"] h2 {
	margin-top: 0;
}

.smol {
	font-size: 1rem;
	line-height: 1rem;
	display: block;
}