.waveform {
    display: block;
    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
    pointer-events: none;
}

.waveform canvas {
    width: inherit;
    height: inherit;
    image-rendering: pixelated;
    image-rendering: optimizeSpeed;
    pointer-events: none;
}

.waveform-timeline--root {
    position: absolute;
    top:0;
    left:0;
    max-width: 100%;
    z-index: 2;
    width: 0%;
    overflow: hidden;
}

.container {
    display: block;
    width: 100%;
}

.root {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tooltip {
    position: absolute;
    left: 0;
    top: -20px;
    transform: translateX(0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    z-index: 3;
    color: white;
    font-size: 0.9rem;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    will-change: opacity;
}

.tooltip.show {
    opacity: 1;
}