.root {
	position: relative;
	padding: 30px;
	border-radius: 10px;
	overflow: hidden;
}

.profile {
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    filter: blur(5px);
    background-size: cover;
}

.overlayImage {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.typography {
	color: white;
	font-size: 0.9rem;
	font-weight: 600;
}

h2.typography, h3.typography {
	margin: 0 0 10px;
}


p.typography {
    display: flex;
    align-content: center;
    margin: 0;
    font-size: 0.8rem;
}

p.typography > i {
    font-size: 0.9rem;
    margin-right: 5px;
}