.profile {
    background-size: cover;
    display: block;
    box-shadow: var(--mdc-theme--box-shadow--floating);
    margin-bottom: 10px;
}

.profile:after {
    display: block;
    content: " ";
    width: 100%;
    height: 4px;
    position: absolute;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, var(--mdc-theme-primary) -40%, var(--mdc-theme-complementary-color) 170%) !important;
}

.about {
    margin: 0 15px 10px;
}

.typography {
    color: var(--mdc-theme-text-primary-on-background);
    margin: 0;
}

.typography > small {
    font-size: 0.8rem;
    margin-left: 10px;
}

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px 10px 4px 4px;
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.button {
    margin-top: 15px;
    box-shadow: var(--mdc-theme--box-shadow--floating);
    position: relative;
    padding: 10px 0 15px !important;
    height: auto !important;
}

.buttonBorder {
    background: linear-gradient(to right, var(--mdc-theme-primary) -40%, var(--mdc-theme-complementary-color) 170%) !important;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.description {
    font-size: 0.9rem;
    font-weight: 500;
}

.container:hover .typography {
    color: var(--mdc-theme-complementary-color);
}


@media screen and (min-width: 460px) {
    .profile {
        width: 70px;
        height: 70px;
        border-radius: 10px;
    }

    .about {
        width: calc(100% - 180px);
    }
}

@media screen and (max-width: 460px) {
    .profile {
        width: 70px;
        height: 70px;
        border-radius: 10px;
    }

    .about {
        width: calc(100% - 105px);
    }

    .typography {
        font-size: 1rem;
    }

    .description {
        font-size: 0.8rem;
    }
}

.profile, .about {
    z-index: 2;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}