.rootContainer {
	display: flex;
	width: 100%;
	padding: 50px;
	flex-wrap: wrap;
}

.list {
	width: 100%;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 300px;
	height: auto;
}

.header h1 {
	z-index: 2;
	width: 100%;
	margin-bottom: 0;
	color: var(--mdc-theme-text-primary-on-background) !important;
}

.header h1 small {
	font-weight: 400;
	font-size: 1.3rem;
	opacity: 0.7;
}

.header .images {
	display: flex;
	flex-wrap: wrap;
	width: 128px;
	height: 128px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: var(--mdc-theme--box-shadow--floating);
}

.header .images > img {
	width: 50%;
	height: 64px;
}

.playButton {
	margin-right: 10px;
}

.header p {
	width: 100%;
}

.button {
	background: linear-gradient(to top, var(--mdc-theme-primary) -100%, var(--mdc-theme-complementary-color) 270%) !important;
	color: #fff !important;
	border-radius: 50px;
	padding: 10px 15px;
}

.header a {
	color: var(--mdc-theme-text-primary-on-background) !important;
}

.button i {
	color: #fff !important;
}

.button, .header p {
	margin-left: 20px;
}

.optionsButton {
	border-radius: 100%;
	padding: 20px 10px;
	min-width: 0;
}

.anchor {
	display: inline-block;
	margin-left: 10px;
}

@media screen and (max-width: 500px) {
	.header {
		padding: 20px;
	}

	.header .images {
		margin: 0 auto 20px;
	}

	.header h1 {
		font-size: 1.3rem;
	}

	.header h1 small {
		font-size: 1rem;
	}
}