.container {
	display: flex;
	width: 100%;
	padding: 50px;
}

.card {
	width: calc(33.3333% - 15px);
	text-align: left;
	padding: 20px;
	margin: 0 15px 0 0;
}

.userPictureName {
	margin: 0 0 10px 0;
}

.userPictureName img {
	height: 32px;
	width: 32px;
	border-radius: 100%;
}

.username {
	margin: 0 0 0 10px;
	font-size: 1rem;
}