.profile {
	min-height: 100%;
	width: 100%;
}

.header img {
	max-width: 64px;
	height: 64px;
	margin-right: 10px;
	border-radius: 100%;
}

.profile_contents {
	padding: 20px;
}

.profile_contents [class="mdc-card"] {
	padding: 20px;
}

.profile_contents [class="mdc-card"] h2 {
	margin-top: 0;
}

.smol {
	font-size: 1rem;
	line-height: 1rem;
	display: block;
}

.smolButNotSwol {
	font-size: 1rem;
	line-height: 1rem;
}