.username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.0rem;
    margin-top: 0;
    max-width: calc(100% - 48px);
}

.centered {
    display: inline-flex;
    align-items: center;
    margin: 0 0 0;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 4px;
}

.actionable {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    margin: 0 10px 0;
}

.actionable:hover {
    background: rgba(0, 0, 0, 0.2);
}

.actionable:active, .actionable:focus {
    background: rgba(0, 0, 0, 0.35);
}

.centered > i {
    margin-right: 10px;
}

.displayName {
    margin: 0;
    font-size: 0.8rem;
    color: var(--mdc-theme-text-primary);
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 123px);
    margin-bottom: 5px;   
}

.card {
    margin-bottom: 20px;
}

.cardRoot {
    padding: 20px 20px 10px 226px;
    box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.w100 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.w100 > span {
    display: block;
    padding: 10px 10px 7px 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    line-height: 0.8rem;
    font-size: 0.8rem;
}

.link {
    text-decoration: none;
    color: var(--mdc-theme-complementary-color);
}

.link:hover, .link:active, .link:focus {
    color: var(--mdc-theme-link-primary-on-background);
}

.date {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 0.9rem;
}

.cardRoot .image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-position: center;
    background-size: cover;
}

.play-button {
    width: 100%;
    height: 100%;
}

.play-button i {
    font-size: 3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    color: white;
}