.footer {
	position: fixed;
	z-index: 10;
	bottom: 0;
	width: 100vw;
	background: rgb(78, 96, 125);
	background: linear-gradient(rgb(78, 96, 125) 0%, rgb(78, 96, 125) 100%);
	min-height: 64px;
	padding: 10px;
	display: flex;
	align-items: center;
}

.footer .artwork {
	border-radius: 100%;
	overflow: hidden;
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .artwork img {
	max-width: 64px;
	max-width: 64px;
	height: auto;
	width: auto;
}

.notMobile .songInfo {
	max-width: calc(100% - 64px);
	overflow: hidden;
	text-overflow: ellipsis;
}

.footer .songInfo p {
	margin-left: 10px;
}

.footer .songInfo p span {
	display: block;
	font-size: 0.8rem;
	color: #FFFFFF;
	font-weight: 600;
}

.footer .trackBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 4px;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: height 0.3s ease-in-out;
	cursor: pointer;
	user-select: none;
}

.footer:hover .trackBar, .footer:active .trackBar, .footer:focus .trackBar {
	height: 10px;
}

.footer:hover .trackBar .thumb, .footer:active .trackBar .thumb, .footer:focus .trackBar .thumb {
	height: 18px;
	width: 18px;
	top: -4px;
}

.footer .trackBar .progress {
	background: var(--mdc-theme-complementary-color);
	width: 100%;
	transform: translateX(0);
	position: absolute;
	left: -100%;
	height: 100%;
}

.footer .trackBar .thumb {
	transition: height 0.3s ease-in-out, width 0.3s ease-in-out;
	background: var(--mdc-theme-complementary-color);
	transform: translateX(0);
	position: absolute;
	left: -6px;
	top: -4px;
	height: 12px;
	width: 12px;
	border-radius: 100%;
	display: block;
}

.footer .start, .footer .middle, .footer .end {
	display: flex;
	color: var(--mdc-theme-primary-font);
	overflow: visible;
}

.notMobile .start, .notMobile .middle, .notMobile .end {
	width: calc(100% / 3);
}

.mobile .start, .mobile .middle, .mobile .end {
	width: calc(100% / 2);
}

.mobile .start *, .mobile .middle *, .mobile .end * {
	max-width: 100%;
}

.footer .middle {
	color: var(--mdc-theme-primary-font);
	justify-content: center;
}

.footer .button {
	width: 48px;
	height: 48px;
	color: var(--mdc-theme-primary-font);
	display: flex;
}

.footer .button i {
	color: var(--mdc-theme-primary-font);
}

.footer .end {
	justify-content: flex-end;
	padding: 0 15px;
}

@media screen and (max-width: 769px) {
	.notMobile {
		display: none;
	}
}

@media screen and (min-width: 769px) {
	.mobile {
		display: none;
	}
}

.mobile .songInfo {
	font-size: 0.8rem;
}

.mobile .songInfo span {
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100vw - 110px);
}

.footer .songInfo a {
	color: var(--mdc-theme-primary-font);
	text-decoration: none;
	margin-bottom: 10px;
	transition: color 0.15s ease-in-out;
}

.footer .songInfo p span, .footer .songInfo a {
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
}

.footer .songInfo a.artist {
	color: var(--mdc-theme-primary-font--darker);
}

.footer .songInfo a:hover, .footer .songInfo a:active, .footer .songInfo a:focus {
	color: var(--mdc-theme-complementary-color);
}

.tooltip {
	position: absolute;
	left: 0;
	top: -35px;
	transform: translateX(0);
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	z-index: 3;
	color: white;
	font-size: 0.9rem;
	border-radius: 10px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	will-change: opacity;
}

.tooltip.show {
	opacity: 1;
}

.queuePanel {
	height: 600px;
	z-index: 3;
	width: 600px;
	background: var(--mdc-theme-background);
	position: fixed;
	bottom: 100px;
	right: 20px;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	transform: translateY(700px);
	border-radius: 10px;
	opacity: 0;
}

.queuePanel::after {
	content: "";
	position: absolute;
	bottom: -30px;
	right: 94px;
	height: 10px;
	width: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-top: 10px solid var(--mdc-theme-background);
}

.queuePanel::before {
	content: "";
	position: absolute;
	bottom: -31px;
	right: 94px;
	height: 10px;
	width: 0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-top: 10px solid rgba(0, 0, 0, 0.1);
}

.queuePanel ul {
	margin: 0;
	padding: 10px;
	height: calc(100% - 120px);
	overflow-x: hidden;
	overflow-y: auto;
	border-radius: 0 0 10px 10px;
}

.queuePanel li, .queuePanel .header.flex p {
	list-style: none;
	font-size: 0.8rem;
	font-weight: 600;
	padding: 10px;
}

.queuePanel .placeholder {
	width: 96px;
	min-height: 1px;
}

.queuePanel .mainHeader {
	padding: 20px;
	position: relative;
	min-height: 78px;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
}

.queuePanel .mainHeader p {
	margin: 0;
	font-weight: 500;
	font-size: 0.9rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.queuePanel .mainHeader p.bold {
	font-weight: 600;
	font-size: 1.0rem;
	margin-top: 5px;
}

.queuePanel .mainHeader .images {
	position: absolute;
	top: -10px;
	left: -10px;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	z-index: 1;
	filter: blur(5px);
	overflow: hidden;
	display: flex;
}

.queuePanel .mainHeader .images > img {
	max-height: 100%;
	width: auto;
	max-width: 100%;
}

.queuePanel .mainHeader .overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	z-index: 2;
	top: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	color: #ffffff;
	min-height: 78px;
}

.queuePanel li .flex, .queuePanel .header.flex {
	display: flex;
	align-items: center;
	width: 100%;
}

.queuePanel .header.flex {
	padding: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
}

.queuePanel .header.flex i {
	font-size: 18px;
}

.queuePanel li .flex img {
	max-width: 56px;
	max-height: 56px;
}

.queuePanel .header.flex p {
	margin: 0;
}

.queuePanel .overflow {
	overflow-x: hidden;
	overflow-y: auto;
}

.queuePanel li .flex a, .queuePanel .header.flex p {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: pre;
	padding: 0 10px;
	color: var(--mdc-theme-text-primary-on-background);
	text-decoration: none;
	font-weight: 600;
}

.queuePanel li .flex > div, .queuePanel .header.flex > div {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

.queuePanel li .flex > div > span, .queuePanel .header.flex > div > span {
	margin: 0 10px;
	width: 58px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	text-align: right;
}

.queuePanel .header.flex > div > span {
	text-align: center !important;
}

.queuePanel.show {
	transform: translateX(0);
	opacity: 1;
}

.volumePanel {
	margin-right: 10px;
	width: 200px;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.volumePanel.show {
	opacity: 1;
}

.footer .end .active > i {
	color: var(--mdc-theme-complementary-color);
}
