.hover {
	cursor: pointer;
}

.list-item {
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height: auto !important;
	padding: 10px 15px;
	transition: all 0.3s ease-in-out;
	background: var(--mdc-search-bg);
	border-radius: 10px;
	border: 0;
	margin: 0 0 15px;
	box-shadow: var(--mdc-theme--box-shadow--floating);
}

.list-item:hover::before, .list-item:hover::after,
.list-item:focus::before, .list-item:focus::after,
.list-item:active::before, .list-item:active::after {
	opacity: 0 !important;
}

.container {
	width: 100%;
	align-self: center;
}

.time {
	margin: 0;
	color: var(--mdc-theme-text-primary-on-background);
}

.grid {
	padding: 0 !important;
}

.grid-inner {
	align-items: center;
	margin: 0;
	padding: 5px 0;
	align-items: center;
	align-content: center;
	align-self: center;
}

.grid-inner > div {
	overflow: hidden;
}

.grid-inner > div, .grid-inner > div > span, .grid-inner > div > span > a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}

.link {
	color: var(--mdc-theme-text-primary-on-background);
}

.link:hover {
	color: var(--mdc-theme-text-primary-on-background);
}

.image {
	display: block;
	width: 68px;
	height: auto;
	margin-right: 20px;
}

.itemMeta > i {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.likeContainer {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
	margin-right: 10px;
}

.likeContainer, .likeContainer i {
	color: var(--mdc-theme-link-primary-on-background--hover);
}

.timeContainer {
	display: flex;
	align-content: center;
}

.timeContainer p {
	margin: 0;
}

@media screen and (max-width: 768px) {
	.image {
		width: 48px;
	}

	.grid-inner, .grid-inner > div {
		padding: 0;
	}

	.grid-inner span::before {
		display: none !important;
	}

	.grid-inner > div > span {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.mobileTrackDetails {
		margin: 0;
		font-size: 0.85rem;
		font-weight: 400;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.active .track, .active .artist {
		font-weight: 500;
		color: var(--mdc-theme-secondary);
	}
}