.hover {
	cursor: pointer;
}

.list-item {
	overflow: hidden;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	height: auto !important;
	padding: 10px;
	transition: all 0.3s ease-in-out;
}

.list-item:hover::before, .list-item:hover::after,
.list-item:focus::before, .list-item:focus::after,
.list-item:active::before, .list-item:active::after {
	opacity: 0 !important;
}

.container {
	width: 100%;
}

.time {
	margin: 0;
	color: var(--mdc-theme-text-primary-on-background);
}

.grid {
	padding: 0;
}

.grid-inner {
	align-items: center;
}

.grid-inner > div {
	overflow: hidden;
}

.grid-inner > div, .grid-inner > div > span, .grid-inner > div > span > a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
}

.link {
	color: var(--mdc-theme-link-primary-on-background);
}

.link:hover {
	color: var(--mdc-theme-link-primary-on-background--hover);
}

.image {
	display: block;
	width: 68px;
	height: auto;
	margin-right: 20px;
}

.itemMeta > i {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.likeContainer {
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}

.likeContainer, .likeContainer i {
	color: var(--mdc-theme-link-primary-on-background--hover);
}